<div class="container">

        <div class="jumbotron">
          <h1 class="display-4">Kumari Kajal</h1> 

</div>
</div>
<div style= "text-align: center">


<img src="assets/img/IMG_045.JPG" alt="HTML5 Icon" style="width:320px;height:320px; align-items: center;">

<a href="https://drive.google.com/open?id=1HmZsHUW4T5oU504PZdUu9fzIqbLUFI8G" target="_blank">Resume</a>


<p fontsize='200px'>
        My name is Kumari Kajal. I have done my Bachelors degree in Computer Science. Right now I am pursuing Software Engineering Technology diploma in Centennial College. I have eight months work experience in Java trouble shooting. Also I have done six months internship in core java. 
</p>
</div>

