<div class="container">

        <div class="jumbotron">
          <h1 class="display-4">Project Description</h1> 

</div>
<div style= "text-align: center">


        <img src="assets/img/img_2.png" alt="HTML5 Icon" style="width:320px;height:320px; align-items: center;">
        
        
        <p fontsize='200px'>
                The purpose of this application Doctor Appointment App (DAPP) is to create a
user friendly platform for patients and doctors interactions. Once registered the
user can find doctor’s clinic nearby. Also the time for doctor’s availability and
appointment will be available. This Mobile App will enable users to set doctor’s
appointments through the app. After users register, the app will help them find
the nearest doctors and at the earliest possible time.
        </p>
        </div>
        